<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://code.alibabatech.com/schema/dubbo	http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="true">
    <!-- 子系统暴露服务接口 -->
    <dubbo:service interface="com.hiveview.pms.api.SysUserApiService" timeout="30000" ref="sysUserApiService" version="1.0.0" registry="zookeeperService"/>
    <bean id="sysUserApiService" class="com.hiveview.pms.api.SysUserApiServiceImpl"/>

    <dubbo:service interface="com.hiveview.pms.api.SysResourceApiService" timeout="30000" ref="sysResourceApiService" version="1.0.0" registry="zookeeperService"/>
    <bean id="sysResourceApiService" class="com.hiveview.pms.api.SysResourceApiServiceImpl"/>

    <dubbo:service interface="com.hiveview.pms.api.SysRoleApiService" timeout="30000" ref="sysRoleApiService" version="1.0.0" registry="zookeeperService"/>
    <bean id="sysRoleApiService" class="com.hiveview.pms.api.SysRoleApiServiceImpl"/>

    <dubbo:service interface="com.hiveview.pms.api.BasicDataApiService" timeout="30000" ref="basicDataApiService" version="1.0.0" registry="zookeeperService"/>
    <bean id="basicDataApiService" class="com.hiveview.pms.api.BasicDataApiServiceImpl"/>

    <dubbo:service interface="com.hiveview.pms.api.BasicDataTypeApiService" timeout="30000" ref="basicDataTypeApiService" version="1.0.0" registry="zookeeperService"/>
    <bean id="basicDataTypeApiService" class="com.hiveview.pms.api.BasicDataTypeApiServiceImpl"/>

</beans>