<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd

    http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd

    http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    <description>Spring公共配置</description>

    <context:annotation-config/>
    <!--开启aspectj自动代理-->
    <aop:aspectj-autoproxy />
    <context:component-scan base-package="com.hiveview.schedule.service,
                                            com.hiveview.schedule.config,
                                            com.hiveview.config">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <context:property-placeholder properties-ref="customProperties" />
    <bean id="customProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean" p:ignoreResourceNotFound="true" p:localOverride="true">
        <property name="locations">
            <list>
                <!-- 标准配置-->
                <value>classpath*:/application.properties</value>
            </list>
        </property>
    </bean>

    <!--配置全局配置类Global 读取属性文件-->
    <bean id="propertiesResourcePaths" class="com.hiveview.base.common.properties.PropertiesResourcePaths">
        <property name="resourcesPaths">
            <list>
                <value>application.properties</value>
            </list>
        </property>
    </bean>
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
          lazy-init="false" autowire="no">
        <!--<!—读取quartz.properties配置文件 &ndash;&gt;-->
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
        <property name="autoStartup" value="true" />
        <property name="startupDelay" value="10" />
    </bean>
    <!-- 开启注解事务支持  @EnableTransactionManagement配置这个注解 有点问题-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
</beans>
