<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
					       http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://code.alibabatech.com/schema/dubbo
						   http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-lazy-init="true">
    <dubbo:reference id="demoService" interface="com.hiveview.credit.api.DemoService" version="1.0.0" registry="zookeeperClient" protocol="dubbo"/>

    <dubbo:reference id="sysUserApiService" interface="com.hiveview.pms.api.SysUserApiService" version="1.0.0"  registry="zookeeperClient" protocol="dubbo"/>

    <dubbo:reference id="sysResourceApiService" interface="com.hiveview.pms.api.SysResourceApiService" version="1.0.0"  registry="zookeeperClient" protocol="dubbo"/>

    <dubbo:reference id="sysRoleApiService" interface="com.hiveview.pms.api.SysRoleApiService" version="1.0.0"  registry="zookeeperClient" protocol="dubbo"/>

    <dubbo:reference id="basicDataApiService" interface="com.hiveview.pms.api.BasicDataApiService" version="1.0.0"  registry="zookeeperClient" protocol="dubbo"/>

    <dubbo:reference id="basicDataTypeApiService" interface="com.hiveview.pms.api.BasicDataTypeApiService" version="1.0.0"  registry="zookeeperClient" protocol="dubbo"/>

    <dubbo:reference id="scheduleJobApiService" interface="com.hiveview.schedule.api.ScheduleJobApiService" version="1.0.0"  registry="zookeeperClient" protocol="dubbo"/>

    <dubbo:reference id="goodsApiService" interface="com.hiveview.credit.api.GoodsApiService" version="1.0.0" registry="zookeeperClient" protocol="dubbo"/>

    <dubbo:reference id="actualGoodsStockApiService" interface="com.hiveview.credit.api.ActualGoodsStockApiService" version="1.0.0" registry="zookeeperClient" protocol="dubbo"/>
</beans>