<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <description>Spring公共配置</description>
    <context:annotation-config/>
    <!--激活自动代理-->
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.hiveview.config,
                                            com.hiveview.admin,
                                            com.hiveview.base.spring">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <context:property-placeholder properties-ref="customProperties" />
    <bean id="customProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean" p:ignoreResourceNotFound="true" p:localOverride="true">
        <property name="locations">
            <list>
                <!-- 标准配置-->
                <value>classpath*:/application.properties</value>
            </list>
        </property>
    </bean>
    <!--配置全局配置类Global 读取属性文件-->
    <bean id="propertiesResourcePaths" class="com.hiveview.base.common.properties.PropertiesResourcePaths">
        <property name="resourcesPaths">
            <list>
                <value>application.properties</value>
            </list>
        </property>
    </bean>

    <!--<import resource="classpath:context/applicationContext-cache.xml" />-->
    <import resource="classpath:context/applicationContext-shiro.xml" />
    <import resource="classpath:dubbo/spring-dubbo-core.xml"/>
    <import resource="classpath:dubbo/spring-dubbo-consumer.xml"/>
</beans>
